<!-- Footer -->
<html>
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/pabetefrance/" onclick="window.open(this.href); return false;" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram" onclick="window.open(this.href); return false;"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.linkedin.com/company/pabete/" onclick="window.open(this.href); return false;" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Unly. Tout les droits sont résérvés. 2018</li>
					</ul>
				</footer>

		</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
